<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
<channel>
  <title>Kentico Cloud JSON to RSS</title>
  <link>https://json-to-rss.herokuapp.com</link>
  <description>A barebones Kentico Cloud JSON to RSS app</description>
  <% rssItems.forEach(function(rssItem) { %>
   <item>
    <title><%= rssItem.title %></title>
    <link><%= rssItem.link %></link>
    <guid><%= rssItem.link %></guid>
    <description><%= rssItem.description %></description>
    <pubDate><%= rssItem.pubDate %></pubDate>
    <media:content url="<%= rssItem.mediaContent %>"/>
    <media:thumbnail url="<%= rssItem.mediaContent %>"/>
   </item>
  <% }); %>
</channel>
</rss>
  
